.hamburger {
	display: none;
}
.hamburger:after {
	
	content: url(hamburger.png);
	
}

.vertical-menu {
	position: relative;
}

.vertical-menu ul {
	
	display: none;
	position: absolute;
	top: 8px;
	right: 50px;
	min-width: 160px;
	z-index: 10;
	
	
}

.vertical-menu ul li {
	
	background-color: #ccc1ff;
	border: 1px solid black;
}
.vertical-menu ul li a {
	display: block;
	color: white;
	text-decoration: none;
	font-size: 20px;
	font-weight: lighter;
	padding: 12px 24px;
	
}
.vertical-menu ul li a:hover {
	background-color: #553c8b;
}
.vertical-menu label, #hamburger {
  display: none;
}

@media(max-width: 768px){

    .vertical-menu label {
        display: block;
        
      }
      .vertical-menu label:after {
          content: url(hamburger.png);
      }
      .vertical-menu input:checked ~ ul {
        display: block;
      }
}