.main-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 72px;
  padding-bottom: 24px;
  border-bottom: 2px solid #d3d3d3;
}

.new-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

hr {
  margin-bottom: 96px;
}

.col-23 {
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.col-49 {
  width: 49%;
  display: flex;
  flex-direction: column;
}

.recipe {
  background-color: #ffeafe;
  margin-bottom: 48px;
  flex-grow: 1;
}
.recipe a {
  text-decoration: none;
}

.recipe p {
  font-family: 'Times New Roman', sans-serif;
  color: black;

  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 46px;

  line-height: 1.5em;
}

.date,
.title {
  padding-top: 24px;
  padding-left: 10px;
}
.date {
  font-size: 14px;
  color: #553c8b;
}
.title {
  font-size: 24px;
  font-weight: bold;
  padding-top: 14px;
  padding-bottom: 48px;
  color: black;
  padding-right: 10px;
}

.title:hover {
  text-decoration: underline;
}

.side-image {
  height: 220px;
  width: 100%;
  object-fit: cover;
}

.central-image {
  width: 100%;
}

@media (max-width: 768px) {
  .col-49 {
    display: none;
  }

  .col-23 {
    width: 48%;
  }
  .title {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .col-49 {
    display: block;
  }
  .col-23,
  .col-49 {
    width: 100%;
  }

  .description {
    display: none;
  }
}
