.social-media {
  display: flex;
  justify-content: space-between;
  width: 244px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: #ccc1ff;
  background-color: #fff;
}

.link:hover .icon {
  color: #553c8b;
}

.icon {
  width: 32px;
  height: 32px;
  fill: currentColor;
}

.footer {
  color: white;
  font-size: 24px;
  background-color: #ccc1ff;
  font-weight: lighter;
}

.footer-flex {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.col-66 {
  width: 66%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer span {
  margin-right: 23px;
}

@media (max-width: 768px) {
  footer span {
    display: none;
  }
}

@media (max-width: 575px) {
  .footer-flex {
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .col-34,
  .col-66 {
    width: 100%;
  }
  .col-66 {
    justify-content: center;
    padding-top: 24px;
  }
}
