*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Myriad Pro', sans-serif;
}
/* .container {
  margin: 0 auto;
  width: 90%;
  max-width: 1296px;
} */

img {
  max-width: 100%;
  display: block;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}
